body {
    background-color: #f0f0f0;
    font-family: "Quicksand", sans-serif, Arial;
    padding: 0;
    margin: 0;
    height: 4000px;
}

nav {
    background-color: #a0cbe0;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: black 1px solid;
}

.dropbtn {
    background-color: #a0cbe0;
    color: black;
    padding: 25px;
    font-size: 20px;
    border: black 1px solid;
    border-radius: 5px;
}
  
.dropdown {
    position: absolute;
    right: 10px;
    margin: 0 10px;
}
  
.dropcontent {
    display: none;
    position: relative;
    background-color: #f0f0f000;
    min-width: 160px;
    z-index: 1;
    }
  
.dropcontent #prompt {
    color: black;
    background-color: #f0f0f0;
    padding: 30px 30px;
    min-width: 160px;
    margin: 5px 0;
    border: black 1px solid;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
}
  
.dropcontent #prompt:hover {
    background-color: #c4e4f4;
    cursor:pointer;
}
  
.dropdown:hover .dropcontent {
    display: block;
    animation: dropdown 0.3s ease-in-out;

}
  
.dropdown:hover .dropbtn {
    background-color: #7ba6c2;
}

.container {
    width: 60%;
    margin: 0 auto;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, input[type="submit"] {
    background-color: #a0cbe0;
    color: black;
    padding: 5px 5px;
    margin: 10px 0;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    font-family: "Quicksand", sans-serif, Arial;
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: #7ba6c2;
}

.formButtons{
    width: 20%;
    margin: 1% 1%;
}

.responseMessage {
    height: auto;
}


#settingsDiv {
    display: none; /* Initially hidden */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}
  #settingsDiv.show {
    display: block; /* Shown when checkbox is checked */
}
  
  input[type="checkbox"] {
    transform: scale(1.5); /* Makes checkbox larger */
  }

button.settings {
    background-image: url('/assets/images/settings.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



@keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

* {
    transition: 3s;
}
